[user]
	name = Dennis Hall
	email = git@dennishall.de
[core]
	excludesfile = ~/.gitignore_global
	editor = vim --noplugin
[color]
	ui = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	st = status
	ci = commit
	co = checkout
	br = branch
	unstage = reset HEAD --
	last = log -1 HEAD
[push]
	default = simple
